<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
    <title>Welcome api-weather</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col col-md-6 offset-md-3">
                <h1 class="text-info mt-5">Welcome api-weather</h1>
                <ul class="mt-3">
                    <li class="mb-4">
                        <h5 class="text-secondary">/location <span class="blockquote text-center text-info">Devuelve los
                                datos de ubicación city según ip-api. </span></h5>
                    </li>
                    <li class="mb-4">
                        <h5 class="text-secondary">/current[/city] <span class="blockquote text-center text-info">City
                                es un parámetro opcional. Devuelve los datos de ubicación city o la ubicación actual
                                según
                                ip-api y el estado del tiempo actual. </span></h5>
                    </li>
                    <li class="mb-4">
                        <h5 class="text-secondary">/forecast[/city] <span class="blockquote text-center text-info">City
                                es un parámetro opcional. Devuelve los datos de ubicación city o la ubicación actual
                                según
                                ip-api y el estado del tiempo a 5 días
                            </span></h5>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</body>

</html>